.addTodo {
    width: 60%;
    position:absolute;
    top: 20%;
    left: 20%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    background-color: white;
    /* border-radius: 10px; */
}


.addTodoInput {
    width: 80%;
    height: 20px;
    border: none;

}
.addTodoinput:focus { 
    outline: none;

}
.btn { 
    background-color: blue;
}